<div id="target">

</div>
<input id="upfile" type="file" webkitdirectory mozdirectory accept="image/*" />
<div id="target">
  <!-- 上传生成的文件链接 -->
</div>
<script type="module">
  import { Uploader } from './javascripts/Upload.js'
  $('#upfile').on('change', function (e) {
    let files = e.target.files
    for (let i = 0; i < files.length; i++) {
      Uploader.upload('cloudwalk-doc', files[0], function (url) {
        $('#target').append(`<a href="${url}" 
                              style="margin:10px 0;display:block;"
                              target="_blank">${url}</a>`)
      })
    }
  })
</script>