<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/aws-sdk/2.247.1/aws-sdk.min.js" type="module"></script>
  <script src="https://cdn.bootcss.com/node-uuid/1.4.8/uuid.min.js" type="module"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</head>

<body>
  <header>
    <a href="/" class="back"></a>
    <h1>{{title}}</h1>
  </header>
  <main>
    {{{body}}}
  </main>
</body>

</html>